h1 {
    color: brown;
}

p {
    color: white;
}

#home {
    background-color: black;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}

form {
    margin-top: 2rem;
}